@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

$StringVyan:hsl(172, 67%, 45%);
$veryDarkCyan: hsl(183, 100%, 15%);
$darkGrayCyan: hsl(186, 14%, 43%);
$lightGrayCyan:hsl(185, 41%, 84%);
$white:hsl(0, 0%, 100%);


